<div class="container-fluid sides">
  <div class="col-xs-12 col-md-3">
    <div class="row sidebar">
      <div>
      <h1 id="apptitle">Bloc Chat</h1>
      <button class="btn newroom" ng-click="home.openModal()">New Room</button>
      <div ng-repeat="room in home.rooms" ng-click="home.openMessages(room)">
            <div>
                <div>
                    <label class="roomlist"> {{ room.name }} </label>
                </div>
            </div>
        </div>
      <!--<div ng-repeat="room in home.rooms" ng-click="home.openMessages()"> {{ room.name }} </div>-->
      </div>

    </div>
  </div>
  <div class="col-xs-12 col-md-9 actrooms">
    <div class="bubble">
      <h1 class="title">{{ home.activeRoom.name }}</h1>
      <div class="activemessages" ng-repeat="message in home.messages"> {{ message.content }} </div>
    </div>
    <form class="form-inline newmessage">
      <form class="form-group group">
        <input type="textarea" class="form-control" id="newMessageBar" ng-model="typedmessage" placeholder="Jibber Jabber">
        <button type="submit" class="btn btn-default" ng-click="home.newMessage(typedmessage)">Submit</button>
      </form>
    </form>
  </div>
</div>
